#map {  

    z-index: 0;
    /*display: block;*/
    position:absolute;
    width: 74%;
    bottom:0;
    top:0;
    left:26%;
    right:0;

      }

      #dashboard{
        z-index: 10;
        position: absolute;
        top:0%;
        width: 26%;
        height:100%;
        left:0%;
        opacity: 1;
      }

      #cost{

        font-size: 40px;



      }


.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.chipsdemoCustomInputs .veggie-option .md-item-text h3, .chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }
      .md-whiteframe-z3{
        text-align: center;
      }

      #loading{
          z-index: 0;
    /*display: block;*/
    position:absolute;
    bottom:0;
    top:47%;
    left:63%;
    right:0;
      }